/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: gray;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

button,
button:active,
button:focus {
  background-color: inherit;
  color: inherit;
  border-color: transparent;
  font-family: inherit;
  font-size: inherit;
  outline: 0;
}

h2,
h4,
p {
  padding: 5px 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* UTILITIES */
.align-center {
  align-items: center;
}

.black {
  background: #000;
}

.flex {
  display: flex;
}

.hover-gray:hover,
.hover-gray:hover i {
  color: gray;
}

.hover-white:hover,
.hover-white:hover i {
  color: #fff;
}

.inline-block {
  display: inline-block;
}

.no-display-small {
 display: none;
}

.relative {
  position: relative;
}

.status-bar {
  position: relative;
  border: 2px solid;
  border-radius: 3px;
}

.status-bar::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  transform: translate(-2px, -50%);
  border: 2px solid #fff;
  border-radius: 3px;
}

.status-bar:hover::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  transform: translate(-2px, -50%);
  border: 2px solid green;
  border-radius: 3px;
}

.text-center {
  text-align: center;
}

.text-size-10 {
  font-size: 10px;
}

.text-white {
  color: #fff;
}


/* LAYOUT */
#app {
  flex-direction: column;
  height: 100vh;
}


/* MAIN WINDOW */
#main-window {
  flex-grow: 1;
}


/* SIDEBAR */
#sidebar {
  flex-basis: 50px; /* width sidebar, see responsive */
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 6px 0 6px;
}

.main-nav {
  margin-top: 15px;
  flex-grow: 1;
}

.main-nav .button {
  padding: 10px 0;
  width: 100%;
}

.main-nav .button img {
  width: 100%;
}


/* playlist-menu */
.playlist-menu {
  margin-top: 20px;
}

.playlist-menu > button i {
  padding-right: 10px;
  font-size: 200%;
}

.playlist-menu .playlist-list button {
  padding: 5px 0;
}

/* Sidebar-bottom */
.sidebar-bottom button {
  justify-content: center;
  width: 100%;
  padding: 10px 0;
}

.sidebar-bottom button:hover {
  color: #fff;
}

.sidebar-bottom .far.fa-arrow-alt-circle-down {
  font-size: 110%;
}

.sidebar-bottom .account-button span {
  font-weight: 800;
}

.sidebar-bottom .account-button:hover span {
  padding: 4px 0;
  border-bottom: 1px solid #fff;
}

.sidebar-bottom .account-button .circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  background: gray;
}


/* CONTENT */
#content {
  flex-grow: 1;
}

.content-top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  background: rgba(45, 45, 45, .5);
  z-index: 1;
}

.content-top-bar > .wrapper-button {
  position: absolute;
  width: 210px;
  height: 38px;
  top: 10px;
  right: 25px;
  justify-content: center;
}

.content-top-bar .wrapper-button .button {
  padding: 8px 20px;
  background: rgb(45, 45, 45);
  border: 1px solid #fff;
  border-radius: 15px;
}

.content-top-bar .wrapper-button .button span {
  vertical-align: -1px
  }

.content-top-bar .wrapper-button .button:hover {
  padding: 10px 22px;
  font-size: 104%;
}

#content .scrollable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 85px 15px 30px;   /* 85px = height di content-top-bar */
  background: #222;
}

.content-menu {
  flex-wrap: wrap;
  justify-content: center;
}

.content-menu > * {
  flex-basis: 25%
}

.content-menu .button {
  padding: 10px 4px;
  letter-spacing: -1px;
}

.content-menu .button.active::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 2px);
  width: 45px;
  height: 3px;
  background: green;
}

.content-category .section-header {
  padding: 25px 0 20px;
}

.songs-container {
  flex-wrap: wrap;
}

.song-box {
 flex-basis: calc((100% / 2) - 10px);
}

.song-box .box-img .hover-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.song-box .box-img .far.fa-play-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 500%;
  color: rgba(0, 0, 0, 0);
}

.song-box .box-img .hover-effect:hover {
  background-color: rgba(50, 50, 50, 0.6);
}
.song-box .box-img .hover-effect:hover .far.fa-play-circle {
  color: #fff;
}

.song-box .box-img img {
  width: 100%;
}

.song-box:nth-child(odd) {
  margin-right: 10px; /* see responsive */
}


/* BOTTOM PLAYER */
#player {
  justify-content: space-between;
  padding: 6px;
  background: #333;
}

#player .left-player {
  flex-basis: 30%;
}

#player button:hover {
  color: #fff;
}

.left-player > *:not(:last-child) {
  margin-right: 5px;
}

.left-player img {
  width: 45px;
  height: 45px;
}

.left-player .item-title .text-white {
  font-weight: 700;
}

.icons-box {
  flex-direction: column;
}


#player .central-player {
  flex-basis: 40%;
}

.central-player .central-top-player .button {
  margin: 0 5px 2px;
}

.central-top-player.flex {
  justify-content: center;
}

.central-player .central-top-player .far.fa-play-circle{
font-size: 200%;
}

.central-player .status-bar {
  margin: 0 5px;
  width: 100px;
}

.central-player .status-bar::after {
  width: 40%;
}

#player .right-player {
  flex-basis: 30%;
}

.right-player {
  justify-content: flex-end;
}

.right-player > * {
  margin-left: 5px;
}

.right-player .status-bar {
  width: 50px;
}

.right-player .status-bar::after {
  width: 60%;
}



/* RESPONSIVE */
@media screen and (min-width: 601px) {
  /* UTILITIES */
  .display-small {
    display: none;
  }

  .no-display-small {
    display: block;
  }

  /* MAIN */
  #sidebar {
    flex-basis: 160px;
    padding: 15px 15px 0 15px;
  }

  .main-nav .button {
    padding: 10px 0;
    width: 100%;
    text-align: left;
  }

  .main-nav .button img {
    padding-right: 10px;
    width: 20%;
  }

  .main-nav .button.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    width: 4px;
    height: 100%;
    background: green;
  }

  .sidebar-bottom button {
    justify-content: flex-start;
  }

  .sidebar-bottom button i {
    margin-right: 10px;
  }

  .sidebar-bottom .install-button {
    border-bottom: 1px solid #fff;
  }

  .sidebar-bottom .account-button .circle {
    margin-right: 10px;
  }

  /* CONTENT */
  .content-menu .button {
    padding: 15px 4px;
  }

  .song-box {
    flex-basis: calc(100% / 4 - 30px / 4);
  }

  .song-box:not(:nth-child(4n)) {
    margin-right: 10px;
 }

 /* BOTTOM PLAYER */
 #player {
   padding: 15px;
 }

 .left-player > *:not(:last-child) {
   margin-right: 10px;
 }

 .left-player .icons-box *:first-child {
   margin-right: 6px;
  }

 .icons-box {
   margin: 0 5px;
   flex-direction: row;
 }

 .central-player .central-top-player .button {
   margin: 0 10px 5px;
 }

 .central-player .status-bar {
   margin: 0 10px;
   width: 150px;
 }

 .right-player > * {
   margin-left: 10px;
 }

 .right-player .status-bar {
   width: 60px;
 }
}


@media screen and (min-width: 768px) {
  .content-menu > * {
    flex-basis: auto;
  }

  .content-menu .button {
    padding: 20px 7px;
    letter-spacing: 0;
  }

  .central-player .status-bar {
    width: 230px;
  }
}


@media screen and (min-width: 992px) {
  .content-menu .button {
    padding: 20px 15px;
  }

  .central-player .status-bar {
    width: 300px;
  }
}


@media screen and (min-width: 1024px) {
  .song-box {
   flex-basis: calc(100% / 6 - 50px / 6);
  }

  .song-box:not(:nth-child(6n)) {
    margin-right: 10px;
  }

  .song-box:nth-child(6n) {
    margin-right: 0;
  }

  .central-player .status-bar {
    width: 330px;
 }
}
